<div class="d-flex align-items-center py-4 container-fluid main-div">
    <main class="form-signin w-100 m-auto">
        <form [formGroup]="loginForm"  class="my-login-form">
            <div class="logoDiv">

                <h1 class="h3 fw-normal" style="text-align: center;" >Sign In</h1>
         
            </div>


            <div class="userLogo">

                <img src="../../assets/images/UserLogo.svg" alt="">

           </div>
      
          <div class="form-group pb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="username" formControlName="username">
          
          </div>
          <div class="form-group pb-5">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" formControlName="password">

          </div>
      
         
          <button class="btn btn-primary w-100 py-2" (click)="submitForm()" type="submit" [disabled]="loginForm.valid==false">Sign in</button>
          
          <a class="signuptext mt-4" (click)="goToSignUp()">Sign Up</a>

        </form>
      </main>

</div>